<li id="fat-menu" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  Schedule <b class="caret"></b>
</a>
<ul class="dropdown-menu">
  <li><%= link_to "Current Schedule", '' %></li>
  <% if availabilitywindow? %>
    <li><%= link_to "Post Availability", '' %></li>
  <% else %>
    <li><%= link_to "Show Availability - available_path(current_user)", '' %></li>
  <% end %>
</ul>
</li>