<% provide(:title, 'About Us') %>
<div align="center">
<div class="well well-sm" style="width: 50%;">

<h1>Theater Staffing</h1>
<h2>
  A weekly based employee management system.
</h2>
<h2>For Employees:</h2>
  <h4>post availability</h4>
  <h4>view shifts</h4>
  <h4>setup text message alerts</h4>
  <h4>setup email alerts</h4>
  <h4>review job related information</h4>

<h2>For Managers:</h2>
  <h4>assign shifts and notify employees via email or text message</h4>
  <h4>notify theater staff which employees to expect</h4>
  <h4>review all assignments at a glance</h4>
  <h4>update show times</h4>
  <h4>update theater details</h4>
  <h4>update inventory and information</h4>

</div>
</div>