<% provide(:title, 'Contact') %>
<div align="center">
<div class="well well-sm" style="width: 50%;">
  <h1>Contact</h1>
  <h4>Data reporting and Scheduling application
  <br>coded by: <a <a href="mailto:teddottavio@yahoo.com?subject=RoR App Feedback">Ted</a></h4>
</div>
</div>