<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p><h2>
  Data reporting and Scheduling application</p>
  <p>coded by: <a <a href="mailto:teddottavio@yahoo.com?subject=RoR App Feedback">Ted</a>
</h2></p>