<% provide(:title, 'Help') %>

<div align="center">
<div class="well well-sm" style="width: 50%;">
<% if signed_in? %>
  <h1>Scheduals</h1>
  <h2>Post your availability from
  <br>Sunday 7pm to Tuesday 7pm
  <br>or call (212) 555-5555
  <br>Scheduals will available after 10pm on Thursdays
  <br>Review theater information is avalable for each shift
  </h2>
  <h1>Dress Code</h1>
  <h4>Black pants or skirt, black shirt, dress shoes and a black jacket or vest</h4>
<% else %>
  <h4>This site is a work demonstration for headset employees and managers.
  <br>Reserve a listening device, or apply for positions at:
  <br>(212) 555-5555
  </h4>
<% end %>

</div>
</div>