<div class="row">
  <div class="col-md-3 editbold lt">
    <%= findlog(scheduled.curtain, scheduled.performance.id, 1) %>
  </div>
  <div class="col-md-4 editbold lt">
  <% if scheduled.language.to_i == 0 then %>
    <% if scheduled.eve == true then %>
      <%= scheduled.curtain.strftime('%m / %d %a E') %>
    <% else %>
      <%= scheduled.curtain.strftime('%m / %d %a M') %>
    <% end %>
  <% end %>
  </div>
  <div class="col-md-4 editlight lt">
    <%= scheduled.performance.name %>
  </div>
</div>