<% provide(:title, 'Review paper logs from the Field') %>
<div align="center">
<div class="well well-sm">

<%= render "selectlog" %>

<% @viewlist.each do |v| %>
    <%= image_tag v %>
<% end %>

</div>
</div>