<% provide(:title, 'Review paper logs from the Field') %>
<div align="center">
<div class="well well-sm">

<%= render "selectlog" %>

    <%= image_tag findlog(@viewstart, @viewperformance, 1) %>
    <%= image_tag findlog(@viewstart, @viewperformance, 2) %>

</div>
</div>