<% if @performance.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <h2>The form contains <%= pluralize(@performance.errors.count, "error") %>:</h2>
      <% @performance.errors.full_messages.each do |msg| %>
        <h2>* <%= msg %></h2>
      <% end %>
    </div>
  </div>
<% end %>